<div style="background-color: beige;">
    <%= mensaje %>

        <% if (admin) { %>
            <p>Sos administrador</p>
            <% } else { %>
                <p>No sos administrador</p>
                <% } %>

</div>