<div style="background-color: black; color: white;">
    <img src="/public/img/portada.jpg" alt="" srcset="">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi dolorum nulla, quaerat facere ipsam
        doloribus aliquid corrupti amet nesciunt repellendus earum totam? Aut nemo pariatur libero saepe, at dicta
        excepturi?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel necessitatibus sit quod tenetur
        blanditiis voluptate deleniti dolore qui temporibus accusantium nesciunt ad, amet quo ratione mollitia id, sed
        nihil eaque.</h1>
</div>