<!DOCTYPE html>
<html lang="en">



<div class="portada-container">
    <img src="/public/img/portada.png" width="600" height="300" alt="Portada">
    <h1>Nuestra aplicación web de agenda te permite organizar tu tiempo de manera eficiente y sencilla. Con una
        interfaz
        intuitiva, podrás gestionar tus citas, tareas y recordatorios de forma rápida y accesible desde cualquier
        dispositivo. Ya sea para trabajo, estudios o actividades personales, nuestra app te ayudará a mantener todo
        bajo
        control y optimizar tu productividad. ¡No más olvidos, organiza tu día con facilidad!</h1>

</div>

</html>